{% extends 'base.html.twig' %}

{% set menuCurrentItem="home" %}

{% block header_title %}{{  parent() }} - Home{% endblock %}

{% block main_title %}HomePage Demo{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    My Homepage
                </div>
                <div class="card-body">
                    This is a homepage test
                </div>
                <div class="card-footer">
                    Great footer
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    Configuration Test
                </div>
                <table class="table table-striped table-hover table-sm mb-0">
                    <tbody>
                        <tr>
                            <th>Password</th>
                            <td>
                                Good Password:
                                {% if configuration.goodPassword %}
                                    <span class="badge badge-success">Yes</span>
                                {% else %}
                                    <span class="badge badge-danger">No</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>File</th>
                            <td>
                                {% if 'test.type.file'|get_config %}
                                    {{ 'test.type.file'|get_config }}<br />
                                    <img src="{{ 'test.type.file'|get_config_file_url }}" style="max-width: 100px; max-height: 100px"/>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Encrypted</th>
                            <td>
                                {{ configuration.encrypted }}<br />{{ configuration.decrypted }}
                            </td>
                        </tr>
                        <tr><th>Scope Global</th><td>{{ 'test.type.text'|get_config }}</td></tr>
                        <tr><th>Scope EN    </th><td>{{ 'test.type.text'|get_config('en') }}</td></tr>
                        <tr><th>Scope FR    </th><td>{{ 'test.type.text'|get_config('fr') }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    Encryptor Test
                </div>
                <table class="table table-striped table-hover table-sm mb-0">
                    <tbody>
                        <tr><th>Original</th></tr>
                        <tr><td>{{ encryptor.original }}</td></tr>
                        <tr><th>Encrypted</th></tr>
                        <tr><td>{{ encryptor.encrypted }}</td></tr>
                        <tr><th>Decrypted</th></tr>
                        <tr><td>{{ encryptor.decrypted }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
